---
layout: default
title: Shell Hu
picture: paris
news:
  - >
      I am the mentor of a GSoC 2014 project for <a href="http://www.shogun-toolbox.org/">Shogun Machine Learning Toolbox</a>: <a href="http://www.shogun-toolbox.org/page/Events/gsoc2014_ideas#sosvmapprox">Structured Output Learning with Approximate Inference</a>. See our <a href="http://nbviewer.ipython.org/gist/Jiaolong/95633b7efd64bbd096f2">IPython notebook</a> by Jiaolong Xu.
  - >
      My GSoC 2013 project of general structured output models for <a href="http://www.shogun-toolbox.org/">Shogun Machine Learning Toolbox</a> is finished. A <a href="http://nbviewer.ipython.org/gist/hushell/6865729">IPython notebook</a> is available.
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-3 pull-right-sm">
      <h3>Shell Xu Hu</h3>
      <address>
		EECS Department<br/>
        2126, Kelley Engineering Center<br/>
        Oregon State University<br/>
        Corvallis, Oregon 97331-5501<br/>
      </address>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 pull-right-sm">
        <a href="mailto:dom343@gmail.com"><span class="glyphicon glyphicon-envelope"></span></a> Email
    </div>
    <div class="col-sm-2">
        <a href="http://github.com/hushell">
          <img src="img/ico/github_icon.png" alt=""/>
        </a>
        Github
    </div>
  </div>
</div>

<h4>About Me</h4>
<p>
I am a PhD student at ENPC ParisTech, supervised by <a href="http://imagine.enpc.fr/~komodakn/">Nikos Komodakis</a> and <a href="http://imagine.enpc.fr/~obozinsg/">Guillaume Obozinski</a>. I got my MS in computer science at Oregon State University in March 2015. Before that, I took the MS courses in computer vision and artificial intelligence at Universitat Autònoma de Barcelona from 2011 to 2012. In a time long gone, I obtained my BE at Hangzhou Dianzi University in 2010. 
</p>
<p>
My current research interests focus on probabilistic graphical models, optimizations and computer vision. I do believe the research in machine learning and computational neuroscience will eventually help us to understand the human brain. One of my ultimate goals is to parameterize the functionality of human brains, which would possibly rely on what we are doing in machine learning. Imagine what if we could characterize the personality of someone by learning computational models based on his/her behavior samples.
</p>

<h4>News</h4>
<ul>
{% for item in page.news %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

{% include cv.md %}

